
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
/*---navigatrion---*/
#overall{
    background-color: rgb(90, 189, 189);

}
header{
    
    background-color: rgb(35, 37, 37);
    
    font-family: 'Times New Roman', Times, serif;
    padding-top: 17px;
}
.logo a{
    text-decoration: none;
    color: rgb(90, 189, 189);

}

.logo{
    font-size: 30px;
    font-weight: 900;
    padding: 10px 20px;
  
}
a{
    text-decoration: none;
    color: rgb(90, 189, 189);
}

.head ul li{
    float: left;
    
    color: rgb(90, 189, 189);
    list-style-type: none;
    margin-left: 10px;
}
.head ul li a{
    text-decoration: none;
    color: rgb(90, 189, 189);
    padding: 10px 20px;
}
.head ul li a:hover{
    
    background-color: rgb(90, 189, 189);
    color: rgb(35, 37, 37);
}
.head ul li a.active{
    background-color: rgb(90, 189, 189);
    color: rgb(35, 37, 37);
}

/*---body---*/

.reg-area{
    font-family: 'Times New Roman', Times, serif;

}
.reg-form hr{
    
    color: black;
    border: 2px solid rgb(5, 5, 5);
}
.reg-form h2{
    padding-top: 22px;
    text-align: center;
    font-weight: 600;
}
.reg-form form{
    border-radius: 10px;
    background-color: rgba(54, 54, 54, 0.863);
    flex-direction: row;
    margin: 0px auto;
    width: 500px;
    border: 2px solid rgb(35, 37, 37);
    color: rgb(90, 189, 189);
    
}
label{
    
    padding-left: 60px;
    font-weight: 600;
}
label input{
    float: right;
    width: 250px;
    margin-right: 20px;
    margin-left: 20px;
    background-color: rgba(65, 92, 92, 0.185);
}
#submit{
    width: 200px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid rgb(90, 189, 189);
    background-color: rgb(90, 189, 189);
    color: rgb(35, 37, 37);
    font-weight: 600;
    font-size: 20px;
    margin-left: 150px;
}
.reg-form p{
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
    font-weight: 600;
}
.reg-form p a{
    text-decoration: none;
    color: rgb(90, 189, 189);
    background-color: rgba(54, 54, 54, 0.863);
    padding: 5px 30px;
    border-radius: 5px;
}
